*.wpress filter=lfs diff=lfs merge=lfs -text
C:/Users/volod/OneDrive/Робочий[[:space:]]стіл/git/neonparty-no-20241019-090934-mczy4qrrxkv5.wpress filter=lfs diff=lfs merge=lfs -text
neonparty-no-20241019-090934-mczy4qrrxkv5.wpress filter=lfs diff=lfs merge=lfs -text
